---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About me"

const identity = {
    firstName: 'Manasés Lovera',
    country: 'Dominican Republic',
    occupation: 'Software Developer',
    hobbies: []
}

// Styles
const skillColor = "navy";
const fontWeight = "bold";
---
<style define:vars={{skillColor, fontWeight}}>
    .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
    }
</style>

<BaseLayout pageTitle={pageTitle}>
    <p>
        Hi, I'm {identity.firstName}, a passionate {identity.occupation} based in the {identity.country}. My journey into tech started with a deep fascination for problem-solving and the way technology can transform ideas into reality. I thrive on the challenges that software development brings, from designing efficient systems to building seamless user experiences. Currently, I'm pursuing a degree in Software Engineering, complementing it with practical experience from projects and an intensive coding bootcamp.
    </p>
    <p>
        I have a strong foundation in backend development, especially with ASP.NET Core and JavaScript ecosystems like React and Express. I enjoy diving deep into code, optimizing performance, and ensuring that the systems I build are scalable and maintainable. I have had the opportunity to work on diverse projects, from developing APIs to building full-stack web applications, both professionally and through personal projects.
    </p>
    <p>
        I believe in continuous learning and improvement, always seeking new technologies and methodologies to stay current in an ever-evolving field. My goal is to build innovative and reliable software solutions that solve real-world problems, while also growing as a professional in the tech industry.
    </p>
</BaseLayout>
        
