---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle="Education"
---
<BaseLayout pageTitle={pageTitle} >
	<h3>Software Engineering - UAPA</h3>
    <i>Jan 2021 - Present</i>
    <p>
        Being involved mainly with .NET stack, Agile methodologies, Logic, Math, and many more.
    </p>
    <h3>Junior Fullstack Developer - Alterna Academy</h3>
    <i>Feb 2024 - July 2024</i>
    <p>
        Intensive programming bootcamp where I learned both hard and soft skills. Tech skills I got familiarity with: Typescript, C#, ASP.NET Core WebAPI, Git/Github, Node/Express, Linux, React native, flutter, and many more.
    </p>
	
</BaseLayout>