---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle="Experience"
---
<BaseLayout pageTitle={pageTitle}>
	<h3>Software Developer - Oriontek</h3>
	<i>April 2024 - July 2024</i>
	<p>
		I worked as a fullstack developer using ASP .NET Core and React for building from scratch an application, I was responsible mainly in the backend but also frontend and deploy both react and .net applications to the cloud using Netlify for the frontend and Azure for the backend.
	</p>
</BaseLayout>