---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle="Manases Lovera"

const mainTechSkills = ['ASP .NET Core / C#', 'Javascript / Typescript', 'React', 'Express']
const otherTechSkills = ['Nestjs', 'Astro', 'Angular']
---
<BaseLayout pageTitle={pageTitle} >
	<h2>Software Engineer Jr</h2>
	<p>
		I am a software engineer with a passion for technology and continuous learning. Currently pursuing a degree in Software Engineering, I have also completed an intensive coding bootcamp. I have experience working with technologies such as ASP.NET Core, Express, Nestjs, and React, and have contributed to various projects involving APIs, web applications, and database management. I thrive on challenges that allow me to grow both technically and professionally, always aiming to build efficient, high-quality solutions.
	</p>
	<h3>Main Tech Skills</h3>
	<ul>
        {
            mainTechSkills.map( skill => <li class="skill">{skill}</li> )
        }
    </ul>
    <h3>Other Tech Skills</h3>
    <ul>
        {
            otherTechSkills.map( skill => <li class="skill">{skill}</li> )
        }
    </ul>
</BaseLayout>