---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle="Manases Lovera"
---
<BaseLayout pageTitle={pageTitle} >
	<h2>Software Developer</h2>
	<p>
		I am a software developer with a passion for technology and continuous learning. Currently pursuing a degree in Software Engineering, I have also completed an intensive coding bootcamp. I have experience working with technologies such as .NET, ASP.NET Core, Nestjs, and React, and have contributed to various projects involving APIs, web applications, and database management. I thrive on challenges that allow me to grow both technically and professionally, always aiming to build efficient, high-quality solutions.
	</p>
</BaseLayout>
		

