---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

const happy = true;
const finished = false;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<style>
			h1 {
				color:cornflowerblue;
			}
		</style>
	</head>
	<body>
		<Navigation />
		<h1>Mi sitio Astro</h1>
		{happy && <p>I'm happy to learn Astro!</p>}
		{finished ? <p>I've finished this tutorial</p> : <p>I haven't finished this tutorial</p>}
	
		<Footer />
	</body>
</html>
