---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle="Projects"
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Personal projects:</h2>

    <h2>Projects I've been part of:</h2>
</BaseLayout>