---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle="Projects"
---

<BaseLayout pageTitle={pageTitle}>
	<h3>My projects:</h3>
    <ul>
        <li>
            <h4>Finshark</h4>
            <p>Web app to manage own stocks and see all stocks available and current value.</p>
            <p><b>Tech Stack:</b> ASP.NET Core C#, React Typescript, SQL Server.</p>
            <a href="https://github.com/ManasesLovera/finshark" target="_blank" rel="noopener noreferrer">Github (Backend)</a>
            <a href="https://github.com/ManasesLovera/finsharkFrontend" target="_blank" rel="noopener noreferrer">Github (Frontend)</a>
        </li>
        <li>
            <h4>Denissa Massage</h4>
            <p>App for booking massages in Nagua for Denissa Massage.</p>
            <p><b>Tech Stack:</b> Node/Express Typescript, React Typescript, MongoDB.</p>
            <a href="https://github.com/ManasesLovera/denissa-massage" target="_blank" rel="noopener noreferrer">Github</a>
        </li>
        <li>
            <h4>ArreglaYa</h4>
            <p>App where businesses are able to add their service and citizens can look for different services in their city like electrician, plumber, etc...</p>
            <p><b>Tech Stack:</b> ASP.NET Core C#, React Typescript, SQLite (only for development).</p>
            <a href="https://github.com/ManasesLovera/ArreglaYa" target="_blank" rel="noopener noreferrer">Github</a>
        </li>
    </ul>
    <h3>Projects I've participated:</h3>
    <ul>
        <li>
            <h4>BookStore</h4>
            <p>BookStore using MicroServices, I participated in two backend services using ASP.NET Core WebAPI.</p>
            <p><b>Tech Stack:</b> React, Typescript, Tailwind, ASP.NET Core C#, Spring Boot Java, Node/Express Typescript, PosgreSQL.</p>
            <a href="https://github.com/ManasesLovera/bookStore" target="_blank" rel="noopener noreferrer">Github</a>
        </li>
        <li>
            <h4>Discord bot for Programadores Dominicanos Server</h4>
            <p>Discord bot for handling code challenges, english channel, and more.</p>
            <p><b>Tech Stack:</b> Nestjs Typescript, MongoDB, Tailwind, React Typescript..</p>
            <a href="https://github.com/Programadores-Dominicanos/100-days-of-code-bot-server" target="_blank" rel="noopener noreferrer">Github</a>
        </li>
        <li>
            <h4>Blog Vacantes</h4>
            <p>Web APP for posting Junior Vacants and also has a Blog, I participated in the backend using ASP.NET Core WebAPI.</p>
            <p><b>Tech Stack:</b> ASP.NET Core C#, React.</p>
            <a href="https://github.com/Hard-Devs-Community/BlogVacantesBackend" target="_blank" rel="noopener noreferrer">Github</a>
        </li>
    </ul>
</BaseLayout>