---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle="Projects"
---

<BaseLayout pageTitle={pageTitle}>
	<h3>Personal projects:</h3>

    <h3>Projects I've participated:</h3>
</BaseLayout>