---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle="Projects"
---

<BaseLayout pageTitle={pageTitle}>
	<h3>My projects:</h3>
    <ul>
        <li>
            <h4>Finshark API</h4>
            <p>Web API for handling stocks.</p>
            <a href="https://github.com/ManasesLovera/finshark" target="_blank" rel="noopener noreferrer">Github</a>
        </li>
        <li>
            <h4>Denissa Massage</h4>
            <p>App for booking massages in Nagua for Denissa Massage.</p>
            <a href="https://github.com/ManasesLovera/denissa-massage" target="_blank" rel="noopener noreferrer">Github</a>
        </li>
        <li>
            <h4>ArreglaYa</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non corrupti nostrum tempora dolorem facilis odio magnam in animi tempore voluptatum ut illo ullam, amet ipsam dolor quo corporis laudantium eum.</p>
            <a href="https://github.com/ManasesLovera/ArreglaYa" target="_blank" rel="noopener noreferrer">Github</a>
        </li>
    </ul>
    <h3>Projects I've participated:</h3>
    <ul>
        <li>
            <h4>BookStore</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non corrupti nostrum tempora dolorem facilis odio magnam in animi tempore voluptatum ut illo ullam, amet ipsam dolor quo corporis laudantium eum.</p>
            <a href="https://github.com/ManasesLovera/bookStore" target="_blank" rel="noopener noreferrer">Github</a>
        </li>
        <li>
            <h4>Blog Vacantes</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non corrupti nostrum tempora dolorem facilis odio magnam in animi tempore voluptatum ut illo ullam, amet ipsam dolor quo corporis laudantium eum.</p>
            <a href="https://github.com/Hard-Devs-Community/BlogVacantesBackend" target="_blank" rel="noopener noreferrer">Github</a>
        </li>
    </ul>
</BaseLayout>