---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { frontmatter } = Astro.props;
---
<style>
    a {
        text-decoration: none;
    }
</style>
<Header />
<a href="/blog">{'<'}</a>
<h1>{frontmatter.title}</h1>
<b>Escrito por: {frontmatter.author}</b><br>
<b>Publicado el: {frontmatter.pubDate.toString().slice(0,10)}</b>
<slot />
<Footer />
<script>
    import "../scripts/menu.js";
</script>